<footer>
  <p class='contact'>
    <strong>Paulina Carriedo Hernández</strong><br/>
    Tel: (442) 480-1200                      (442) 245-0125<br/>
    Cel: (442) 123-4726                      (442) 186-0540<br/>
  </p>
    <strong>Gabriela Juárez Lavín</strong><br/>
    Tel: (442) 245-0125<br/>
    Cel: (442) 186-0540<br/>
  </p>
   <a href='mailto:contacto@nanabi.com.mx'>contacto@nanabi.com.mx</a><br/>
  <p><small>Tema por <a href="https://github.com/orderedlist">orderedlist</a></small></p>
</footer>
